NOW={{ date }}
FILE="logs/cp_{{ date }}.log"
#SPGW_CFG:: SGWC=01; PGWC=02; SPGWC=03
SPGW_CFG=03
S11_MME_IP={{ s11_mme_ip }}
S11_SGW_IP={{ s11_sgw_ip }}
S5S8_SGWC_IP=10.1.20.50
S5S8_PGWC_IP=10.1.20.60
S1U_SGW_IP={{ s1u_sgw_ip }}
S5S8_SGWU_IP=12.1.1.93
S5S8_PGWU_IP=14.1.1.93
IP_POOL_IP={{ ip_addr_pool }}
IP_POOL_MASK={{ ip_pool_mask }}
APN=apn1
MEMORY=1024
